<template name="mainNavigationTopItemBackend">
    {{#if isInRole 'admin, editor'}}
        <li id="navbar-adminpanel" class="hidden-xs">
            <a href="{{pathFor route='admin_dashboard'}}" id="adminpanel">
                {{{getNavigationName "backend"}}}
            </a>
        </li>
    {{/if}}
</template>
