<template name="cardsetsConfirmLearnForm">
    <div class="modal fade" id="bonusFormModal" tabindex="-1" role="dialog"
         aria-labelledby="bonusFormModalTitle">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                     <span class="modal-icon">
                        <i class="fa fa-sign-out"></i>
                    </span>
                    {{> mainModalItemCloseIcon}}
                    <h4 id="bonusFormModalTitle" class="modal-title">{{_ "confirm-form-learn.title"}}
                    </h4>
                </div>
                <div class="modal-body">
                    <p>{{_ "confirm-form-learn.text"}}</p>
                    <hr/>
                </div>
                <div class="modal-footer">
                    <button id="learnDelete" class="btn btn-danger btn-raised btn-setDelete pull-right" {{disableIfOffline}}>{{_
                            "confirm-form-learn.title"}}</button>
                    <button id="learnCancel" class="btn btn-raised pull-left" data-dismiss="modal">{{_
                            "modal-dialog.cancel"}}</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</template>
