<template name="impressumLearningHeadingDE">
    <h1>Wie du auf 🍅cards effektiv mit Karten lernst</h1>
</template>

<template name="impressumLearningContentDE">
    <h2>Lernmethoden</h2>
    <p>
        Auf 🍅cards kannst du die Karten deiner Karteien (Mitschriften, Lernkarteien, Glossare, Anweisungen
        aus
        Programmiersprachen, Prüfungsfragen, Zitate, Abstracts, Exzerpte und Vokabeln) auf verschiedene Art
        und
        Weise lernen:
    </p>
    <ul>
        <li>
            nach der 5-Fächer-Lernmethode von Sebastian Leitner
        </li>
        <li>
            nach der SuperMemo-Lernmethode von Piotr Woźniak
        </li>
        <li>
            nach der Schwierigkeit des Stoffes:
            Basics, Fortgeschritten, Experte/Expertin
        </li>
        <li>
            nach den Lernzielstufen der Karten, angelehnt an die <a
                href="https://thesecondprinciple.com/teaching-essentials/beyond-bloom-cognitive-taxonomy-revised/"
                target="_blank">Taxonomie von Anderson et al.</a>:<br/>
            Verstehen, Anwenden, Analysieren, Synthetisieren, Bewerten, Innovieren
        </li>
        <li>
            in zufälliger Reihenfolge
        </li>
    </ul>
    <p>
        Die ersten beiden Methoden sind die effektivsten im Sinne des langfristigen Erinnerns, siehe die
        wissenschaftlichen Studien, zitiert in unserem <a href="{{pathFor route='about'}}">Paper</a>.
        Die Methoden beruhen auf dem <b>Prinzip des Verteilten Lernens</b>, also dem Lernen in mehreren
        Zeitabschnitten.
        Das unter Studierenden weit verbreitete, aber ineffektive Bulimielernen findet dagegen nur einmalig
        in der Woche vor der Klausur statt. Daniel Hunold erklärt das Prinzip auf seinem
        YouTube-Kanal &raquo;Motiviert Studiert&laquo;:
    </p>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/tXawKm6Qwyo?rel=0"
                frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen>
        </iframe>
    </div>
    <br/>
    <h2>Wiederholungs-Algorithmus von Leitner</h2>
    <p>
        Die <b>5-Fächer-Lernmethode von Leitner</b> legt bereits gelernte Karten in bestimmten länger
        werdenden
        Abständen zum wiederholten Lernen vor.
        Nicht erinnerte Karten werden ins vorherige Fach zurückgelegt.
        Auf diese Weise werden schwierige Lernkarten häufiger wiederholt als einfache.
        Die Intervalle zwischen den Fächern betragen in der Regel: täglich (1→2), wöchentlich (2→3),
        monatlich
        (3→4) und vierteljährlich (4→5) — vergleiche mit den Vergessenskurven in diesem <a
            href="{{pathFor route='about'}}">Bild</a>.
        Karten im letzten Fach gelten als dauerhaft gelernt. Die maximal tägliche Anzahl zu lernender Karten
        wird von der Lehrperson vorgegeben.
    </p>
    <a href="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Leitner_system.svg/800px-Leitner_system.svg.png"
       data-lightbox="img-1" data-title="Leitner-Lernmethode">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Leitner_system.svg/800px-Leitner_system.svg.png"
             alt="Leitner-Lernmethode" class="img-responsive center-block"/>
    </a>
    <p class="text-center">
        Bildquelle: <a href="https://de.wikipedia.org/wiki/Lernkartei" target="_blank">Wikipedia:
        &raquo;Lernkartei&laquo;</a> — Am Anfang befinden sich alle Karten im Fach 1.
    </p>

    <h2>Wiederholungs-Algorithmus von Woźniak</h2>
    <p>
        Bei der <b>SuperMemo-Lernmethode von Woźniak</b> werden die Abstände aufgrund deiner Einschätzung,
        wie
        leicht
        oder schwer du dich an die Antwort erinnern kannst, individuell gemäß dem <a
            href="https://www.supermemo.com/english/ol/sm2.htm" target="_blank">SM-2-Algorithmus</a> neu
        berechnet. Du vergleichst deine Antwort mit der Antwort auf der Rückseite der Karte und bewertest
        sie
        auf
        einer 6-stufigen Skala von &raquo;Blackout&laquo;, &raquo;Falsche Antwort, aber an die richtige
        erinnert&laquo;, &raquo;Falsche
        Antwort, aber
        leicht an die richtige erinnert (ach ja!)&laquo;, &raquo;Richtige Antwort nach längerem Überlegen&laquo;,
        &raquo;Richtige
        Antwort nach
        kurzem Zögern&laquo; bis &raquo;Sofort und richtig&laquo;. Anhand deiner Bewertung wird der
        Zeitpunkt für die nächste
        Wiederholung der Lernkarte
        berechnet.
    </p>
    <a name="Pomodoro"></a>
    <h2>Zeitmanagement mit Pomodoro 🍅</h2>
    <p>Francesco Cirillo entwickelte die populäre <a href="https://de.wikipedia.org/wiki/Pomodoro-Technik"
                                                     target="_blank">Pomodoro-Technik</a>.
        Pomodoro ist italienisch und heißt Tomate.
        Der Name rührt daher, dass Cirillo für seine Technik eine Eieruhr zu Hilfe nahm und diese die Form
        einer Tomate hatte.
        Wir haben die Pomodoro-Technik in die Analoguhr eingebaut, die dir auf jeder Karte im Lernmodus
        angezeigt wird.
        Wenn du eine Kartei zum Lernen öffnest, wird dir auf dem Zifferblatt visualisiert,
        wie lange du am Stück <strong>fokussiert und ohne Ablenkung</strong> (Musik hören, Videos schauen,
        WhatsApp-Nachrichten lesen) die Karten lernen solltest.
        Mit dem Lauf des Minutenzeigers verkürzt sich ein orangefarbener Kreisbogen von 25 Minuten Länge (=
        1 Pomodoro-Zeiteinheit) bis zur ersten Kurzpause von 5 Minuten.
        Diese wird mit einem blauen Kreisbogen am Zifferblatt angezeigt.
        Zu Beginn und am Ende einer Pause ertönt ein Gong aus deiner Schulzeit.
        Nach vier Pomodori ist die Langpause von 30 Minuten vorgesehen.
    </p>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/d2YJzhonkTQ?rel=0"
                frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen>
        </iframe>
    </div>
</template>
