<template name="impressumModalStatisticsItemCards">
    <table class="table">
        <thead class="thead-dark">
            <tr class="active">
                <th scope="col" class="col-xs-9 col-sm10">{{_ "serverStatistics.modal.table.header.cards"}}</th>
                <th scope="col" class="col-xs-3 col-sm-2">{{getServerInventory "cards"}}</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</template>
